doctype html
html
	head
		link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
		title #{title}

	body
		include vw-dashboard.pug

		form#imwGenerator(action='/imwGenerator/addNewProducts' method='POST' accept-charset="UTF-8")
			label.input-label-1(for='itemID') Item ID
			input#itemID.input-unit-1(type='text', placeholder='enter data1', name='itemIDPost', value='')

			label.input-label-1(for='suppUnitID') Supplier Unit ID
			input#suppUnitID.input-unit-1(type='text', placeholder='enter data1', name='suppUnitIDPost', value='')

			if imwProductVals !== undefined
				//- script.
				//- 	//- localStorage.clear()
				//- 	var sanitized = !{imwProductVals}.replace(/(")|(\\)/g, "")//- !{} is for unescaped string interpolation in Pug
				//- 	console.log(`sanitized==>${sanitized}`)
				//- 	localStorage.setItem('imwProductVals_localStorage', sanitized)
				//- 	console.log('localStorage from pug==>', localStorage)

				script.
					console.log("imwProductVals==>", !{imwProductVals})//- !{} is for unescaped string interpolation in Pug
					var imwProdValSplit = !{imwProductVals}.split("_")
					console.log(`imwProdValSplit==> ${imwProdValSplit}`)

				label.input-label-1(for='itemListAccumulator') Item List Accumulator
				input#itemListAccumulator.input-unit-1(type='text', placeholder='enter data1', name='itemListAccumulatorPost', value=imwProductVals)

			button#addItemButton(type='submit', form='imwGenerator') Add Product(s) Accumulatively


		//- script(src='/jsModules_t0d/imwGenLocStorM0d.js')
