doctype html
html
	head
		link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
		title #{title}

	body
		include vw-dashboard.pug

		//- form#addFromTbl(action='/imwGenerator/loadEDI_Table' method='POST' accept-charset="UTF-8")
		//- 	label.input-label-1(for='tableName') Table to add products from:
		//- 	input#tableName.input-unit-1(type='text', placeholder='enter data1', name='tableNamePost', value='')
		//- 	button#tableNameButton(type='submit', form='addFromTbl') Display Table

		//- 	if srsObjArr !== undefined
		//- 		div.rslt-tbl-1
		//- 		table#resTbl
		//- 			thead
		//- 				tr
		//- 					th pk_t0d
		//- 					th item_id
		//- 					th supp_unit_id
							
		//- 			tbody#resTblBdy
		//- 					each elmnt in srsObjArr
		//- 						tr
		//- 							td= elmnt.pk_t0d
		//- 							td= elmnt.item_id
		//- 							td= elmnt.supp_unit_id
			
		form#imwItemAdd(action='/imwGenerator/addNewProducts' method='POST' accept-charset="UTF-8")

			label.input-label-1(for='tableName') Table to add products from:
			input#tableName.input-unit-1(type='text', placeholder='enter data1', name='tableNamePost', value='')
			button#tableNameButton(type='submit', form='imwItemAdd') Display Table

			if srsObjArr !== undefined
				div.rslt-tbl-1
				table#resTbl
					thead
						tr
							th pk_t0d
							th item_id
							th supp_unit_id
							
					tbody#resTblBdy
							each elmnt in srsObjArr
								tr
									td= elmnt.pk_t0d
									td= elmnt.item_id
									td= elmnt.supp_unit_id

			label.input-label-1(for='itemID') Item ID
			input#itemID.input-unit-1(type='text', placeholder='enter data1', name='itemIDPost', value='')

			label.input-label-1(for='suppUnitID') Supplier Unit ID
			input#suppUnitID.input-unit-1(type='text', placeholder='enter data1', name='suppUnitIDPost', value='')

			if imwProductValObj !== undefined
				label.input-label-1(for='itemListAccumulatorObj') Item List Accumulator Object
				input#itemListAccumulatorObj.input-unit-1(type='text', placeholder='enter data1', name='itemListAccumulatorPost', value=imwProductArr)

			button#imwItemAddButton(type='submit', form='imwItemAdd') Add Product(s) Accumulatively

		form#imwGenerator(action='/imwGenerator/saveProdArrAsCSV' method='POST' accept-charset="UTF-8")
			label.input-label-1(for='productArray') Product Array for generating IMW
			input#productArray.input-unit-1(type='text', placeholder='enter data1', name='productArrayPost', value=imwProductArr)

			label.input-label-1(for='csv') filename:
			input#csv.input-unit-1(type='text', placeholder='enter filename here', name='csvPost', value='', required)

			button#imwGeneratorButton(type='submit', form='imwGenerator') Generate IMW

			if objectifiedImwProdArr !== undefined
				div.rslt-tbl-1
				table#resTbl
					thead
						tr
							th Item ID
							th Supplier Unit ID
							
					tbody#resTblBdy
							each elmnt in objectifiedImwProdArr
								tr
									td= elmnt.itemID
									td= elmnt.suppUnitID

		//- script(src='/jsModules_t0d/imwGenLocStorM0d.js')
		script(src='/jsModules_t0d/itemSelectM0d.js')
