doctype html
html
	head
		link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
		title #{title}

	body
		include vw-dashboard.pug

		form#imwItemAdd(action='/imwGenerator/addNewProducts' method='POST' accept-charset="UTF-8")
			label.input-label-1(for='itemID') Item ID
			input#itemID.input-unit-1(type='text', placeholder='enter data1', name='itemIDPost', value='')

			label.input-label-1(for='suppUnitID') Supplier Unit ID
			input#suppUnitID.input-unit-1(type='text', placeholder='enter data1', name='suppUnitIDPost', value='')

			if imwProductValObj !== undefined
				label.input-label-1(for='itemListAccumulatorObj') Item List Accumulator Object
				input#itemListAccumulatorObj.input-unit-1(type='text', placeholder='enter data1', name='itemListAccumulatorPost', value=imwProductArr_t0d)

			button#imwItemAddButton(type='submit', form='imwItemAdd') Add Product(s) Accumulatively

		form#imwGenerator(action='/imwGenerator/saveProdArrAsCSV' method='POST' accept-charset="UTF-8")
			label.input-label-1(for='productArray') Product Array for generating IMW
			input#productArray.input-unit-1(type='text', placeholder='enter data1', name='productArrayPost', value=imwProductArr_t0d)

			label.input-label-1(for='csv') filename:
			input#csv.input-unit-1(type='text', placeholder='enter filename here', name='csvPost', value='', required)

			button#imwGeneratorButton(type='submit', form='imwGenerator') Generate IMW

			if objectifiedImwProdArr_t0d !== undefined
				div.rslt-tbl-1
				table#resTbl
					thead
						tr
							th Item ID
							th Supplier Unit ID
							
					tbody#resTblBdy
							each elmnt in objectifiedImwProdArr_t0d
								tr
									td= elmnt.itemID
									td= elmnt.suppUnitID

		//- script(src='/jsModules_t0d/imwGenLocStorM0d.js')
