doctype html
html
	head
		link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
		title #{title}

	body
		include vw-dashboard.pug

		//- //v// joins nhcrt table to edi table
		form#nhcrtEdiJoin(action='/keheUnfiWSdiff/keheUnfiWSdiff' method='POST' accept-charset="UTF-8" style="display:block")
			div(style="display:block")
				label.input-label-1(for='keheUnfiJoin') This query joins kehe & unfi tables
				textarea#keheUnfiJoinTextArea.input-unit-1(name="keheUnfiJoinPost", cols="30", rows="1", wrap="soft") SELECT kehe.kehe_upc, kehe.kehe_unit_type, kehe.kehe_tier3, unfi.unfi_upc, unfi.unfi_unit_type, unfi.unit_cost FROM edi_kehe_data kehe JOIN edi_unfi_data unfi ON kehe.kehe_upc WHERE kehe.kehe_upc = unfi.unfi_upc;
				button#crtTblBtn3(type='submit', form='keheUnfiJoin', style="display: block; float: left") Display kehe/unfi joined tables
		//- //^// joins nhcrt table to edi table

		//- form#imwGenerator(action='/imwUnitType/saveCSVimwUnitType' method='POST' accept-charset="UTF-8")
		//- 	div.horiz-2-abs
		//- 		label.input-label-1(for='productArray') Product Array for saving IMW
		//- 		//- input#productArray.input-unit-1(type='text', placeholder='enter data1', name='productArrayPost', value=imwProductArr)
		//- 		input#productArray.input-unit-1(type='text', placeholder='enter data1', name='productArrayPost', value=srsObjArr)
		//- 	div.horiz-3-abs
		//- 		label.input-label-1(for='csv') filename:
		//- 		input#csv.input-unit-1(type='text', placeholder='enter filename here', name='csvPost', value='', required)
		//- 		button#imwGeneratorButton(type='submit', form='imwGenerator') Save IMW as CSV

		div.rslt-tbl-1-absolute
			if srsObjArr !== undefined
				table#resTbl_loadedTable
					thead
						tr
							th #
							th kehe_upc
							th unfi_upc
							th kehe_unit_type
							th unfi_unit_type
							th kehe_unit_cost
							th unfi_unit_cost
							th lower_cost

					tbody#resTblBdy_loadedTable
						each elmnt in srsObjArr
							tr
								td= elmnt.ri_t0d
								td= elmnt.kehe_upc
								td= elmnt.unfi_upc
								td= elmnt.kehe_unit_type
								td= elmnt.unfi_unit_type
								td= elmnt.kehe_unit_cost
								td= elmnt.unfi_unit_cost
								td= elmnt.lower_cost


		//- script(src='/jsModules_t0d/imwGenLocStorM0d.js')
		script(src='/jsModules_t0d/itemSelectM0d.js')
		script(src='/jsModules_t0d/removeItemM0d.js')
