doctype html
html
	head
		link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
		title #{title}

	body
		include vw-dashboard.pug

		//- //v// queries RB DB
		form#query_rb_inventory(action='/rbInvUpdater/query_rb_inventory' method='POST' accept-charset="UTF-8" style="display:block")
			div(style="display:block")
				label.input-label-1(for='query_rb_inventory') Enter Query for Rainbow DB
				textarea#query_rb_inventory.input-unit-1(name="query_rb_inventoryPost", cols="30", rows="1", wrap="soft") SELECT inv_upc FROM rb_inventory_titus_20200415;
				button#crtTblBtn1(type='submit', form='query_rb_inventory', style="display: block; float: left") QUERY Rainbow DB
		//- //^// queries RB DB

		br

		//- //v// creates empty nhcrt mysql table
		form#createNhcrtTable(action='/rbInvUpdater/createNhcrtRbInvTable' method='POST' accept-charset="UTF-8" style="display:block")
			div(style="display:block")
				label.input-label-1(for='crtNhcrtTbl') Enter MySql nhcrtRbInv Table Name to CREATE
				input#crtNhcrtTbl.input-unit-1(type='text', placeholder='enter data', name='tblNamePost', value='nhcrtRbInv')

				label.input-label-1(for='crtNhcrtTblInput') Enter Table Headers (as csv) - default headers for nhcrt (Node Hub Catalog Results Table) provided
				input#crtNhcrtTblInput.input-unit-1(type='text', placeholder='enter data', name='crtTblPost', value='invPK,invCPK,invScanCode,invName,ordSupplierStockNumber,invSize,invReceiptAlias,posTimeStamp,invDateCreated,invEmpFkCreatedBy,ordQuantityInOrderUnit,oupName,stoName,brdName,dptName,dptNumber,sibIdealMargin,venCompanyname,invLastreceived,invLastsold,invLastcost,sibBasePrice,invOnhand,invOnorder,invIntransit,pi1Description,pi2Description,pi3Description,invPowerField3,invPowerField4')
				button#crtNhcrtTblBtn(type='submit', form='createNhcrtTable', style="display: block") CREATE NHCRT Table
		//- //^// creates empty mysql table

		br

		form#populateTable(ref="populateTable" action='/rbInvUpdater/populateNhcrtRbInvTable' method='POST' encType="multipart/form-data" accept-charset="UTF-8")
			div(style="display:block")
				label.input-label-1(for='popTbl') Populate Table
				input#popTbl.input-unit-1(type='file', name='popTblPost')

				label.input-label-1(for='popTblName') Table to Populate
				input#popTblName.input-unit-1(type='text', name='popTblNamePost')

				label.input-label-1(for='tblColName') Loaded Column Names
				input#tblColName.input-unit-1(type='text', name='tblColNamePost', value=tableColNames)

				button#popTblBtn(type='submit', form='populateTable', style="display: block") Populate Table

		if sqlTablePopulated !== undefined
			p= 'Table Populated: ' + sqlTablePopulated.tablePopulated

		br

		form#rbInvUpdate(action='/rbInvUpdater/calcResRbInvUpdater' method='POST' accept-charset="UTF-8")
			div(style="display:block")
				label.input-label-1(for='nhcrtRbInvTable') nhcrtRbInv Table to use for updating rb_inventory
				input#nhcrtRbInvTable.input-unit-1(type='text', placeholder='enter data', name='nhcrtRbInvTablePost', readonly, style="background-color:#c2d6d6", value='nhcrtRbInv')
				label.input-label-1(for='rb_inventoryTable') rb_inventory Table to update
				input#rb_inventoryTable.input-unit-1(type='text', placeholder='enter rb_inventory table name', name='rb_inventoryTablePost')
		button#updateRbInv(type='submit', form='rbInvUpdate', style="display: block; float: left") Update rb_inventory Table

		br
		br

		form#rbInvUpdateAudit(action='/rbInvUpdater/rbInvUpdateAudit' method='POST' accept-charset="UTF-8")
			div(style="display:block")
				label.input-label-1(for='rbInvOLD') rbInvOLD table to compare
				input#rbInvOLD.input-unit-1(type='text', placeholder='enter data', name='rbInvOLDPost', value='rb_inventory')
				label.input-label-1(for='rbInvNEW') rbInvNEW table to compare
				input#rbInvNEW.input-unit-1(type='text', placeholder='enter data', name='rbInvNEWPost', value='rb_inventory_titus_20200423b')
		button#auditRbInv(type='submit', form='rbInvUpdateAudit', style="display: block; float: left") AUDIT rb_inventory Table	

		br
		br

		if rbInvJoinArr_ind !== undefined
			//- form#rbInvUpdateAuditSaveCSVind(action='/rbInvUpdater/rbInvUpdateAuditSaveCSV_ind' method='POST' accept-charset="UTF-8")
			//- div(style="display:block")
			//- 	label.input-label-1(for='csv') filename - IND:
			//- 	input#csv.input-unit-1(type='text', placeholder='enter filename here', name='csvPost', value='')
			//- 	label.input-label-1(for='rbInvJoinArr_ind') rbInvJoinArr_ind values
			//- 	input#rbInvJoinArr_ind.input-unit-1(type='text', placeholder='enter data', name='csvDataPost', value=rbInvJoinArr_ind)
			//- button(type='submit', form='rbInvUpdateAuditSaveCSVind', style="display: block; float: left") save IND results to CSV
			div.rslt-tbl-1
				table
					thead
						tr
							th #
							th upc (IN)
							th name
							th new
							th old

					tbody
						if rbInvJoinArr_ind !== undefined
							each elmnt in rbInvJoinArr_ind
								tr
									td= elmnt.ri_t0d
									td= elmnt.new_inv_upc
									td= elmnt.new_inv_name
									td= elmnt.new_inv_in_stock
									td= elmnt.old_inv_in_stock


		if rbInvJoinArr_sm !== undefined
			//- form#rbInvUpdateAuditSaveCSVsm(action='/rbInvUpdater/rbInvUpdateAuditSaveCSV' method='POST' accept-charset="UTF-8")
			//- div(style="display:block")
			//- 	label.input-label-1(for='rbInvJoinArr_sm') rbInvJoinArr_sm values
			//- 	input#rbInvJoinArr_sm.input-unit-1(type='text', placeholder='enter data', name='csvPost', value=rbInvJoinArr_sm)
			//- button(type='submit', form='rbInvUpdateAuditSaveCSVsm', style="display: block; float: left") save SM results to CSV
			div.rslt-tbl-1
				table
					thead
						tr
							th #
							th upc (SM)
							th name
							th new
							th old

					tbody
						if rbInvJoinArr_sm !== undefined
							each elmnt in rbInvJoinArr_sm
								tr
									td= elmnt.ri_t0d
									td= elmnt.new_inv_upc
									td= elmnt.new_inv_name
									td= elmnt.new_inv_sm_stock
									td= elmnt.old_inv_sm_stock


		if rbInvJoinArr_mt !== undefined
			//- form#rbInvUpdateAuditSaveCSVmt(action='/rbInvUpdater/rbInvUpdateAuditSaveCSV' method='POST' accept-charset="UTF-8")
			//- div(style="display:block")
			//- 	label.input-label-1(for='rbInvJoinArr_mt') rbInvJoinArr_mt values
			//- 	input#rbInvJoinArr_sm.input-unit-1(type='text', placeholder='enter data', name='csvPost', value=rbInvJoinArr_mt)
			//- button(type='submit', form='rbInvUpdateAuditSaveCSVmt', style="display: block; float: left") save MT results to CSV
			div.rslt-tbl-1
				table
					thead
						tr
							th #
							th upc (MT)
							th name
							th new
							th old

					tbody
						if rbInvJoinArr_mt !== undefined
							each elmnt in rbInvJoinArr_mt
								tr
									td= elmnt.ri_t0d
									td= elmnt.new_inv_upc
									td= elmnt.new_inv_name
									td= elmnt.new_inv_mt_stock
									td= elmnt.old_inv_mt_stock


		if rbInvJoinArr_sh !== undefined
			//- form#rbInvUpdateAuditSaveCSVsh(action='/rbInvUpdater/rbInvUpdateAuditSaveCSV' method='POST' accept-charset="UTF-8")
			//- div(style="display:block")
			//- 	label.input-label-1(for='rbInvJoinArr_sh') rbInvJoinArr_sh values
			//- 	input#rbInvJoinArr_sh.input-unit-1(type='text', placeholder='enter data', name='csvPost', value=rbInvJoinArr_sh)
			//- button(type='submit', form='rbInvUpdateAuditSaveCSVsh', style="display: block; float: left") save SH results to CSV
			div.rslt-tbl-1
				table
					thead
						tr
							th #
							th upc (SH)
							th name
							th new
							th old

					tbody
						if rbInvJoinArr_sh !== undefined
							each elmnt in rbInvJoinArr_sh
								tr
									td= elmnt.ri_t0d
									td= elmnt.new_inv_upc
									td= elmnt.new_inv_name
									td= elmnt.new_inv_sh_stock
									td= elmnt.old_inv_sh_stock


		if rbInvJoinArr_gl !== undefined
			//- form#rbInvUpdateAuditSaveCSVgl(action='/rbInvUpdater/rbInvUpdateAuditSaveCSV' method='POST' accept-charset="UTF-8")
			//- div(style="display:block")
			//- 	label.input-label-1(for='rbInvJoinArr_gl') rbInvJoinArr_gl values
			//- 	input#rbInvJoinArr_gl.input-unit-1(type='text', placeholder='enter data', name='csvPost', value=rbInvJoinArr_gl)
			//- button(type='submit', form='rbInvUpdateAuditSaveCSVgl', style="display: block; float: left") save GL results to CSV
			div.rslt-tbl-1
				table
					thead
						tr
							th #
							th upc
							th name (GL)
							th new
							th old

					tbody
						if rbInvJoinArr_gl !== undefined
							each elmnt in rbInvJoinArr_gl
								tr
									td= elmnt.ri_t0d
									td= elmnt.new_inv_upc
									td= elmnt.new_inv_name
									td= elmnt.new_inv_gl_stock
									td= elmnt.old_inv_gl_stock

		script(src='/javascripts/modules/adminM0d.js')
