doctype html
html
	head
		link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")

	body

		include vw-dashboard.pug

		p #{title}

		div(style="display:block")
			form#queryCatapultDB(action='/v_InventoryMaster_query/queryTable' method='POST' accept-charset="UTF-8" style="display:block")
				div(style="display:block")
					label.input-label-1(for='tblQry') Enter Query for Catapult DB
					textarea#tblQry.input-unit-1(name="tblQryPost", cols="30", rows="1", wrap="soft") SELECT INV_PK, INV_ScanCode, INV_Name, INV_Size, INV_ReceiptAlias, convert(varchar(10), POS_TimeStamp, 120), INV_DateCreated, INV_EMP_FK_CreatedBy, ord_quantityinorderunit, oup_name, sto_name, brd_name, dpt_name, dpt_number, ven_companyname, convert(varchar(10), inv_lastreceived, 120), convert(varchar(10), inv_lastsold, 120), inv_lastcost, SIB_BasePrice, inv_onhand, inv_onorder, inv_intransit, PI1_Description, PI2_Description, PI3_Description, PI4_Description, INV_PowerField1, INV_PowerField2, INV_PowerField3, INV_PowerField4 FROM catapult.ecrs.v_InventoryMaster WHERE trim(ven_companyname) IN ('EDI-ALOE')
					button#crtTblBtn(type='submit', form='queryCatapultDB', style="display: block; float: left") QUERY Catapult DB

		div(style="display:block")
			form#saveCSVreviewPost(action='/v_InventoryMaster_query/save2CSV' method='POST' accept-charset='UTF-8')
				if catapultTables !== undefined
					label.input-label-1(for='csv') filename:
						input#csvReview.input-unit-1(type='text', placeholder='enter filename here', name='csvPost', value='')
					label.input-label-1(for='csvReviewHeaders') CSV Review headers:
						input#csvReviewHeaders.input-unit-1(type='text', placeholder='enter data', name='csvHeadersPost', readonly, style="background-color:#c2d6d6", value="upc, sku, name, pf2, pf3, cost, charm, edlp_flag, sale_flag")
					button#saveCSVreview(type="submit" form="saveCSVreviewPost") Save Results as CSV - Catapult Inventory Master Query

		div.rslt-tbl-1
			table#resTbl
				thead
					tr
						th invPK
						th invScanCode
						th invName
						th invSize
						th invReceiptAlias
						th posTimeStamp
						th invDateCreated
						th invEmpFkCreatedBy
						th ordQuantityInOrderUnit
						th oupName
						th stoName
						th brdName
						th dptName
						th dptNumber
						th venCompanyname
						th invLastreceived
						th invLastsold
						th invLastcost
						th sibBasePrice
						th invOnhand
						th invOnorder
						th invIntransit
						th pi1Description
						th pi2Description
						th pi3Description
						th pi4Description
						th invPowerField1
						th invPowerField2
						th invPowerField3
						th invPowerField4

				tbody#resTblBdy
					if catapultTables !== undefined
						each elmnt in catapultTables
							tr
								td= elmnt.invPK
								td= elmnt.invScanCode
								td= elmnt.invName
								td= elmnt.invSize
								td= elmnt.invReceiptAlias
								td= elmnt.posTimeStamp
								td= elmnt.invDateCreated
								td= elmnt.invEmpFkCreatedBy
								td= elmnt.ordQuantityInOrderUnit
								td= elmnt.oupName
								td= elmnt.stoName
								td= elmnt.brdName
								td= elmnt.dptName
								td= elmnt.dptNumber
								td= elmnt.venCompanyname
								td= elmnt.invLastreceived
								td= elmnt.invLastsold
								td= elmnt.invLastcost
								td= elmnt.sibBasePrice
								td= elmnt.invOnhand
								td= elmnt.invOnorder
								td= elmnt.invIntransit
								td= elmnt.pi1Description
								td= elmnt.pi2Description
								td= elmnt.pi3Description
								td= elmnt.pi4Description
								td= elmnt.invPowerField1
								td= elmnt.invPowerField2
								td= elmnt.invPowerField3
								td= elmnt.invPowerField4



