doctype html
html
	head
		link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")

	body

		include vw-dashboard.pug

		p #{title}


		div(style="display:block")
			form#saveCSVreviewPost(action='/tsqlTableHub/save2CSV' method='POST' accept-charset='UTF-8' style="display:block")
				if catapultResults !== undefined
					label.input-label-1(for='csv') filename:
						input#csvReview.input-unit-1(type='text', placeholder='enter filename here', name='csvPost', value='')
					//- label.input-label-1(for='csvReviewHeaders') CSV Review headers:
					//- 	input#csvReviewHeaders.input-unit-1(type='text', placeholder='enter data', name='csvHeadersPost', readonly, style="background-color:#c2d6d6", value="upc, sku, name, pf2, pf3, cost, charm, edlp_flag, sale_flag")
					label.input-label-1(for='save2CSVArr') Catapult Table Query Results Array:
						input#save2CSVArr.input-unit-1(type='text', placeholder='enter data', name='save2CSVArrPost', readonly, style="background-color:#c2d6d6", value=catapultResults)
					button#saveCSVreview(type="submit" form="saveCSVreviewPost") Save Results as CSV - Catapult Inventory Master Query2

		div.rslt-tbl-1
			table#resTbl
				thead
					tr
						th ri_t0d
						th invPK
						th invCPK
						th invScanCode
						th ascScancode
						th ordSupplierStockNumber
						th invName
						th invSize
						th invReceiptAlias
						th invDefault
						th posTimeStamp
						th invDateCreated
						th invEmpFkCreatedBy
						th ordQuantityInOrderUnit
						th oupName
						th stoNumber
						th stoName
						th brdName
						th dptName
						th dptNumber
						th sibIdealMargin
						th venCompanyname
						th invLastreceived
						th invLastsold
						th invLastcost
						th sibBasePrice
						th invOnhand
						th invOnorder
						th invIntransit
						th invMemo
						th pi1Description
						th pi2Description
						th pi3Description
						th pi4Description
						th invPowerField1
						th invPowerField2
						th invPowerField3
						th invPowerField4

				tbody#resTblBdy
					if catapultResults !== undefined
						each elmnt in catapultResults
							tr
								td= elmnt.ri_t0d
								td= elmnt.invPK
								td= elmnt.invCPK
								td= elmnt.invScanCode
								td= elmnt.ascScancode
								td= elmnt.ordSupplierStockNumber
								td= elmnt.invName
								td= elmnt.invSize
								td= elmnt.invReceiptAlias
								td= elmnt.invDefault
								td= elmnt.posTimeStamp
								td= elmnt.invDateCreated
								td= elmnt.invEmpFkCreatedBy
								td= elmnt.ordQuantityInOrderUnit
								td= elmnt.oupName
								td= elmnt.stoNumber
								td= elmnt.stoName
								td= elmnt.brdName
								td= elmnt.dptName
								td= elmnt.dptNumber
								td= elmnt.sibIdealMargin
								td= elmnt.venCompanyname
								td= elmnt.invLastreceived
								td= elmnt.invLastsold
								td= elmnt.invLastcost
								td= elmnt.sibBasePrice
								td= elmnt.invOnhand
								td= elmnt.invOnorder
								td= elmnt.invIntransit
								td= elmnt.invMemo
								td= elmnt.pi1Description
								td= elmnt.pi2Description
								td= elmnt.pi3Description
								td= elmnt.pi4Description
								td= elmnt.invPowerField1
								td= elmnt.invPowerField2
								td= elmnt.invPowerField3
								td= elmnt.invPowerField4



